---
layout: default
title: Home
published: true
---

{% if page.url == "/" %}

<!-- Intro 
================================================== -->
<section class="featured-posts">
<div class="col-12 mb-30px">
    <div class="listfeaturedtag h-100">
        <div class="row h-100">
            <div class="col-12 col-md-12 col-lg-5 pr-lg-0">
                <div class="h-100">
                    <div class="wrapthumbnail">
                        <a href="/quick-start-guide/">
                            
                            <img class="featured-box-img-cover" src="/assets/images/registereddietitianYoga.png">
                            
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-7">
                <div class="h-100 card-group">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">
                                <a class="text-dark" href="/quick-start-guide/">Do you want to eat and live healthy without avoiding/sacrificing your favorite foods and social activities? </a>
                                
                            </h2>

                            <h4 class="card-text"> Then you are in the right place! I live in this beautiful city and I know that New York is a food heaven where you can find the best pasta, bakery goods and many more. I have been living in NYC for 5 years and I never said no to any of these with keeping my ideal weight under control. Because there is an easier way to do that and I will teach you how!   </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->
    </div>
</section>

<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Nutrition Counseling</span></h2>
    </div>
    <div class="row">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>My Blog Posts</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>
